---
import BaseLayout from '../layouts/BaseLayout.astro';

const ndes = await Astro.glob('../pages/nde/*.mdx');
const bulgarianNDEs = await Astro.glob('../pages/nde/bg/*.mdx');
const allDoneNDEs = ndes.concat(bulgarianNDEs);

const todoNDEs = await Astro.glob('../pages/nde/todo/*.mdx');
const nonDraftTodoNDEs = todoNDEs.filter((post) => !post.frontmatter.draft);

---

<BaseLayout title="Списък - Преживявания близки до смъртта"
	description="Списък - Преживявания близки до смъртта">
	<h1 class="pb-10">Списък - Преживявания близки до смъртта</h1>
	
	<p>Всички преведени ПБС&nbsp;({allDoneNDEs.length}):</p>
	<ul>
	{allDoneNDEs.map((nde) => (
		<li><a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a></li>
	))}
	</ul>
	
	<p>ПБС за превод&nbsp;({todoNDEs.length}):</p>
	<ul>
	{nonDraftTodoNDEs.map((nde) => (
		<li><a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a></li>
	))}
	</ul>
</BaseLayout>

<style>
</style>
