---
import BaseLayout from '../layouts/BaseLayout.astro';

const todoNDEs = await Astro.glob('../pages/nde/todo/*.mdx');
---

<BaseLayout title="Списък - Преживявания близки до смъртта"
	description="Списък - Преживявания близки до смъртта">
	<h1 class="pb-10">За Превод - Преживявания близки до смъртта</h1>
	
	<p>ПБС за превод&nbsp;({todoNDEs.length}):</p>
	<ul>
	{todoNDEs.map((nde) => (
		<li><a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a></li>
	))}
	</ul>
</BaseLayout>

<style>
</style>
